.container {
    margin: 0 auto;
    max-width: 1280px;
    position: relative;
}

.table {
    background-color: #d0e4fc;
    text-align: center;
    font-weight: 600;
    margin-top: 24px;
    max-width: 512px;
}

.blur {
    animation: blur 1s forwards;
}

@keyframes blur {
    0% {
        filter: blur(1px);
    }
    100% {
        filter: blur(20px);
    }
}

table {
    & td {
        border: solid 1px;
    }
}

input {
    max-width: clamp(6.25rem, 4.167rem + 10.42rem, 12.5rem);
}

.white {
    background-color: #fff;
}

.main {

    // .main__content

    &__content {
    }
    &__form {
        @media (max-width: 1080px) {
            overflow-y: scroll;
        }
    }

    // .main__images

    &__images {
        margin: 64px 0;
        display: block;
    }

    // .main__image

    &__image {
        display: grid;

        & img {
            border-radius: 16px;
        }
        &_block {
            display: flex;
            @media (max-width: 1080px) {
                display: grid;
            }
            justify-content: space-between;
        }
    }

    &__btn {
        &_1 {
            text-align: right;
        }
    }
}

.pop-up-autorize {
    display: none;
    // .pop-up-autorize__form

    &__form {
        position: absolute;
        left: calc(50% - 170px);
        top: 128px;
        display: grid;
        background-color: #fff;
        padding: 64px;
        border-radius: 16px;
        box-shadow: 0 0 16px 16px #00000021;
    }

    // .pop-up-autorize__login

    &__login {
        margin-bottom: 16px;
    }

    // .pop-up-autorize__pass

    &__pass {
        margin-bottom: 24px;
    }

    & input {
        border: solid 1px;
    }

    & label {
        text-align: center;
        margin-bottom: 24px;
    }
}

.active {
    display: block;
}

.header {

    // .header__content

    &__content {}

    // .header__btn

    &__btn {

        // .header__btn_1

        &_1 {
            margin-top: 24px;
        }
    }
}